#modal-container{
display: flex;
position: fixed;
top: 0;
left: 0;
z-index: 1;
background: rgba(140, 139, 139,50%);
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
}
#modal-window{
height: 300px;
width: 500px;

}
#boton-cerrar{
   height: 20px;
   width: 20px;
   cursor: pointer;
}