body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-family: 'Montserrat Alternates', sans-serif;
    height: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#modal-container{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(140, 139, 139,50%);
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#modal-window{
  height: 300px;
  width: 500px;
}

#boton-cerrar{
     height: 20px;
     width: 20px;
     cursor: pointer;
}
  
header{
  height: 50px;
  width: 100%;
}

.logo{
  width: 50px;
  height: 50px;
}

h1, h2{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Cinzel', serif;
}

button{
  width: max-content;
}

li{list-style: none;}

@media screen and (min-width: 501px){
 #carouselExample {
  height: 300px;
  width: 500px;
 }

 #carouselExample img {
  height: 300px;
  width: 500px;
 }

 

}
